$color-primario: orangered;
$color-secundario: rgb(12, 12, 12);
$color-terciario: navy;

@import "components.scss";


h1 {
    color: $color-primario;
}

h2 {
    color: $color-primario;
}

p {
    color: $color-terciario;
}


